
.green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #6aaa64;
    border: none;
    border-radius: 4px;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: 700;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    transition: transform 0.1s ease;
}

.grey {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #787c7e;
    border: none;
    border-radius: 4px;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: 700;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    transition: transform 0.1s ease;
}

.yellow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #c9b458;
    border: none;
    border-radius: 4px;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: 700;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    transition: transform 0.1s ease;
}

.white {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 2px solid #d3d6da;
    border-radius: 4px;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: 700;
    box-sizing: border-box;
    color: #1a1a1b;
    text-transform: uppercase;
    transition: transform 0.1s ease;
}